asgiref==3.3.1
cart==1.1.8
Django==3.1.5
django-bootstrap-forms==0.1
django-cors-headers==3.7.0
django-environ==0.4.5
django-filter==2.4.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.6.0
Markdown==3.3.3
parts==1.0.2
Pillow==8.1.0
products==0.1.0
pycryptodome==3.9.9
PyJWT==1.7.1
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
