{% extends 'Products/Main.html' %}
{% block cart %}


{{cart}}

{% if products_in_cart %}

{% for i in products_in_cart %}
</p>

<a href="{% url 'Products:Product' i.ProductsId.id %}">{{i.ProductsId}}</a> Ilość: {{i.Count}}

 <form method="POST" action="">
           {% csrf_token %}

           <input class="btn login_btn" type="submit" value="usuń ">
      <input type="text" name="choice" value={{i.id}} hidden=True>

        </form></p>
{% endfor %}
{% else %}
brak produktów w koszyku przejdz do produktu i dodaj go ;D
{% endif %}









{% endblock %}




