{% extends 'Products/Main.html' %}
{% block category %}
{% load static %}
{% load widget_tweaks %}

<h1>Kategoria: {{ category.name }}</h1>
        {{request.choice}}
      {% for message in messages %}

					<p id="messages">{{message}}</p>
				{% endfor %}
 {% for product in product_in_cat %}


            <div style="width:500px; float:left "><a href="{% url 'Products:Product' product.id %}">{{ product.title }}</a>

                <div style="width:500px; float:left ">
                    <div style="width:100px; float:left ">
                        </p>Cena: {{ product.price }}
                    </div>
                    <div style="width:100px; margin-top: 15px; float:left ">
                        {% if  request.user.is_authenticated%}
                        <form method="POST" action="">
                            {% csrf_token %}

                            {% render_field form.Count  value='1' hidden=True   %}
                            {% render_field form.cart   value=cart hidden=True %}
                             {% render_field form.product value=product.id hidden=True %}

                            <input class="btn login_btn" type="submit" value="dodaj do koszyka ">

                     </form>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div style="width:300px; float:right "><img src=" {{product.image.url}}" alt="cos niedziała XD" width="100px"></p></div>
            <div style="clear:both"></div>
        {% endfor %}

{% endblock %}