{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Products/style.css' %}">

<div>
    <h1>{% include 'Products/Navbar.html' %}</h1>
</div>

<div style="clear:both"></div>


<div style="width:200px; float:left">

    {% include 'Products/Categories.html' %}
</div>

<div style="width:800px; float:left">
    {% block product %}
    {% block cart %}
    {% block category %}
        Super fajny sklep musisz cos kupic
        <img src="{% static 'Images/cart.png' %}" alt="cos niedziała XD" width="200" height="200">

    {% endblock %}
    {% endblock %}
    {% endblock %}

</div>


<div style="clear:both"></div>