{% load static %}
<div style="width:700px; display:inline ">
<a href="{% url 'Products:Main' %}"><img src="{% static 'Images/home-icon.png' %}" alt="cos niedziała XD" width="40" height="40"></a>

  <div style="width:300px; display:inline ">
  <form method="GET" style="width:300px; display:inline" action="/search/">
    {% if '/search/' in request.get_full_path %}
    {{product_filter.form.title__icontains}}
    {% else %}
    <input  name="title__icontains" type="text" placeholder="szukaj np. intel">
    {% endif %}

    <input  type="submit" value="Szukaj ">

  </form>
  </div>

{% if  request.user.is_authenticated%}




{% if request.get_full_path != '/cart/' %}
  <a href="{% url 'Products:Cart' %}">Twoj koszyk</a>

{% endif %}
  <a href="{% url 'Products:User' %}">{{request.user}}</a>
  <a href="{% url 'Products:Logout' %}">wyloguj</a>

{% else %}

  <a href="{% url 'Products:Login' %}">zaloguj</a>
{% endif %}
</div>
