{% load static %}
<div style="width:700px; display:inline ">
<a href="{% url 'Products:Main' %}"><img src="{% static 'Images/home-icon.png' %}" alt="cos niedziała XD" width="40" height="40"></a>

  <div style="width:300px; display:inline ">
  wyszukiwarka
  <form method="GET" style="width:300px; display:inline" action="/search/">
    {{product_filter.form.title__icontains}}
    <input  type="submit" value="Szukaj ">

  </form>
  </div>

{% if  request.user.is_authenticated%}

<a href="{% url 'Products:Logout' %}">wyloguj</a>
<a href="{% url 'Products:User' %}">{{request.user}}</a>


{% if request.get_full_path != '/cart/' %}
  <a href="{% url 'Products:Cart' %}">Twoj koszyk</a>
{% endif %}

{% else %}

<a href="{% url 'Products:Login' %}">zaloguj</a>
{% endif %}
</div>
