{% extends 'Products/Main.html' %}
{% load static %}
{% load widget_tweaks %}


{% block product %}
<div style="width:300px; float:left " >
    <h1>{{ object.title }}</h1>


    KAtegoria: {{ object.category }}</p>
    Producent: <a href="{% url 'Products:Producer' object.producer.id  %}">{{ object.producer }}</a></p>


    Opis:{{ object.description }}</p>
    cena:{{ object.price }}</p>


        {% if  request.user.is_authenticated%}


       <form method="POST" action="">
           {% csrf_token %}

           {% render_field form.Count  type="number" step="3" value='1'  min=3   max=100 %}
           {% render_field form.cart   value=cartid  hidden=true %}
           {% render_field form.product value=object.id  hidden=true %}
           <input class="btn login_btn" type="submit" value="dodaj do koszyka">

        </form>


        {% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}


        {% else %}
        zaloguj sie aby móc dodac produkt do koszyka
        {%  endif%}
    </div>
    <div style="width:200px; float:left  ">

    <img src=" {{object.image.url}}" alt="cos niedziała XD" width="300px">

    </div>

{% endblock %}




