{% extends 'Products/Main.html' %}
{% block user %}

<h1>Witaj {{user.username}}</h1>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    Email: {{user.email}}
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="zapisz">

        </form>

         Aby zmienic hasło przejdz <a href="{% url 'Products:User-password' %}">Tutaj</a>
{% endblock %}